body{
    background-color: lavender;
}

#main{
    background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

#qna{
    display: none;
}

.qBox{
    background-color: ivory;
    text-align: center;
    border-radius: 20px;
    font-size: 24px;
    width: 80%;
}

.answerList{
    background-color: ivory;
    border-radius: 20px;
    display: block;
    width: 80%;
    border: 0px;
    font-size: 20px;
}

.answerList:hover, .answerList:focus{
    background-color: rgb(98, 0, 128);
    color: ivory;
}


.status{
    height: 20px;
    width: 80%;
    background-color: ivory;
    border-radius: 20px;
}

.statusBar{
    height: 100%;
    border-radius: 20px;
    background-color: purple;
}

#result{
    display: none;
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

#shareResult{
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
  }
  
.resultname{
    font-size: 26px;
    text-align: center;
  }
  
.resultDesc{
    font-size: 20px;
}

  
.gohome:hover, .gohome:focus {
    background-color: whitesmoke;
    color: pink;
  }
  